#about-container {
  width: 80%;
  overflow: auto;
  margin: 0 auto;
}

#about-container h2 {
  font-size: 3vw;
}

#about-image {
  padding: 20px;
}

#about-me {
  width: 100%;
  overflow: auto;
  padding: 20px 0;
  background-color: #dadddf;
  text-align: center;
}

#about-text {
  line-height: 26pt;
  font-family: "Montserrat", cursive;
  font-size: 1.3vw;
}

#profile {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

/******************* Mobile *******************************/

@media (max-width: 1000px) {
  #about-container h2 {
    font-size: 26px;
  }

  #about-text, #about-image {
    width: 100%;
  }

  #about-text {
    font-size: 16px;
  }

  #profile {
    width: 200px;
    height: 200px;
  }
}
