.client-info {
  display: flex;
}

#client-message {
  margin-bottom: 10px;
}

#contact {
  background-color: black;
}

#contact-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto;
}

#contact h2 {
  color: white;
  display: inline;
  font-family: "Montserrat", cursive;
}

.fa-github {
  color: #fff;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-twitter {
  color: #1DA1F2;
}

#follow {
  text-align: center;
  font-family: "Montserrat", cursive;
}

#follow h2 {
  color: #fff;
  font-family: "Montserrat", cursive;
}

#hold-both {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#left-side {
  width: 50%;
  margin: 10px 0;
}

#right-side {
  width: 50%;
  overflow: auto;
}

.resume {
  width: 40%;
  background-color: #f5564e;
  margin: 15px auto;
  border-radius: 10px;
  padding: 10px;
  font-family: "Montserrat", cursive;
  font-weight: 700;
  color: #fff;
  font-size: 1.3vw;
}

.resume:hover {
  background-color: #a43737;
}

#social {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 50%;
}

#status {
  width: 70%;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 16px;
}

#status h2 {
  color: #dee1ec;
}

.ui.primary.button {
  background-color: #f5564e;
  font-family: "Montserrat", cursive;
}

.ui.primary.button:hover {
  background-color: #a43737;
}


/*********************** MOBILE ***************************/

@media (max-width: 800px) {
  #left-side, #right-side {
    width: 100%;
    margin-bottom: 20px;
  }

  .resume {
    font-size: 16px;
  }

  #status {
    width: 100%;
  }
}
