.banner {
  float: left;
}

h1 {
  color: #fff;
  font-family: "Montserrat", cursive;
  font-weight: 700;
  font-size: 5vw;
  margin: 10px 0;
}

#header-container {
  background: url('../img/background.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

#header-content {
  width: 75%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}


#more-info {
  overflow: auto;
}

#more-info div {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #fd5f00;
  border-radius: 16px;
  font-family: "Montserrat", cursive;
  color: #fff;

}

.picture {
  float: right;
}

#profile {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  margin: 10px auto;
}

.banner span {
  font-family: "Montserrat", cursive;
  color: #fff;
  margin: 10px;
}

#tech {
  margin: 20px 0;
}

#tech-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
}

/*************************** Mobile *************************************/
@media (max-width: 1000px) {
  .picture {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #profile {
    width: 150px;
    height: 150px;
  }

  .banner {
    text-align: center;
    width: 100%;
  }

}
