a {
  text-decoration: none;
}

#baseball {
  height: 50vh;
}

.border {
  width: 30%;
  border-bottom: solid;
  border-color: gray;
  border-width: 2px;
  margin: 0 auto;
}


.img-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  width: 45%;
}

.info p {
  font-size: 1.3vw;
}

.notes {
  display: inline-block;
  font-family: "Montserrat", cursive;
  line-height: 26pt;
}

#portfolio-container {
  width: 90%;
  margin: 0 auto;
}

#portfolio-container h2 {
  color: black;
  font-size: 5vw;
  margin: 30px 0 0;
  font-family: "Montserrat", cursive;
  text-align: center;
}

.project {
  overflow: auto;
  padding: 30px;
}

.project img {
  height: 100%;
  width: 100%;
}

.source {
  margin-right: 10px;
  font-family: "Montserrat", cursive;
  font-weight: bold;
}


/* Mobile */
@media (max-width: 1120px) {
  #baseball {
    height: 30vh;
  }

  .info, .img-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .info p {
    font-size: 16px;
  }
}

@media (min-width: 1120px) {
  .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
