.nav-bar {
  height: 80px;
  background-color: black;
}

.content {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

.tab-container {
  padding: 27px;
  float: right;
}

.logo {
  display: inline;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 21px;
}

.tab {
  display: inline;
  color: #fff;
  font-family: 'Montserrat', cursive;
  font-size: 19px;
  margin-left: 30px;
  letter-spacing: 1px;
}

.tab:hover {
  color: #fff;
  cursor: pointer;
}

.icon {
  color: #fff;
}


@media (max-width: 1000px) {
  .tab-container {
    display: none;
  }

  .dropdown {
    position: absolute;
    padding: 16px 30px;
    top: 0;
    right: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 0;
  }
}

/* desktop / laptop */
@media (min-width: 1000px) {
  .dropdown {
    display: none;
  }

  .logo {
    float: left;
    font-weight: 600;
    padding: 27px;
  }
}
