.fas {
  color: #fff;
}

.logo {
  display: inline;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 21px;
}

.nav-bar {
  width: 100%;
  height: 80px;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.options {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  background-color: black;
}

.tab {
  display: inline;
  color: #fff;
  font-family: 'Montserrat', cursive;
  font-size: 19px;
  margin-left: 30px;
  letter-spacing: 1px;
}

.tab:hover {
  color: green;
  cursor: pointer;
}

.tab-container {
  padding: 27px;
  float: right;
}





@media (max-width: 1000px) {
  .drop-icon {
    position: absolute;
    padding: 16px 30px;
    top: 0;
    right: 0;
  }


  .tab {
    text-align: center;
    display: block;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 20px 0;
  }

  .tab-container {
    display: none;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 0;
  }
}

/* desktop / laptop */
@media (min-width: 1000px) {
  #drop-menu {
    display: none;
  }

  .drop-icon {
    display: none;
  }

  .logo {
    float: left;
    font-weight: 600;
    padding: 27px;
  }
}
